<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3KpYxeijvjzrYTneuO6gxOLJ3CKDNOkU</string>
	<key>GCM_SENDER_ID</key>
	<string>11658421158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lucashunter.Power-Up-Fitness</string>
	<key>PROJECT_ID</key>
	<string>power-up-fitness-3987c</string>
	<key>STORAGE_BUCKET</key>
	<string>power-up-fitness-3987c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11658421158:ios:8e84516555d80ea9fe2567</string>
</dict>
</plist>